<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/app.js" defer></script>
    </head>
    <body>
        <header>
        </header>
        <div>
            <div>
                <a></a>
                <div></div>
            </div>
            <div>
                <ul class="no-dots">
                    <li><button class="mainbutton">
                        <a href="/home"><div>Home</div></a>
                        </button>
                    </li>
                    <li><button class="mainbutton">
                        <a href="/inputpage"><div>Fill your DB</div></a>
                        </button>
                    </li>
                    <li><button class="mainbutton">
                        <a href="/searchform"><div>Your Database</div></a>
                        </button>
                    </li>
                    <li><button class="mainbutton">
                        <a href="/practice"><div>Practice</div></a>
                        </button>
                    </li>
                </ul>
        </div>
</body>
</html>
